@model IEnumerable<PersonResponse>
@{
    Layout = null;
}

@*http://localhost:1111/Stylesheet.css*@
<link rel="stylesheet" href="@("http://" + Context.Request.Host.ToString() + "/Stylesheet.css")" />
@* This table will show the list of person view *@
<h1>Persons List</h1>
<table class="table w-100 mt">
    <thead>
        <tr>
            <th style="width:15%">Name</th>
            <th style="width:15%">Email</th>
            <th style="width:15%">Date of Birth</th>
            <th style="width:7%">Age</th>
            <th style="width:7%">Gender</th>
            <th style="width:10%">Country</th>
            <th style="width:15%">Address</th>
            <th style="width:20%">Receive News Letter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td style="width:15%">@person.PersonName</td>
                <td style="width:15%">@person.Email</td>
                <td style="width:15%">@person.DateOfBirth?.ToString("dd MMMM yyyy")</td>
                <td style="width:7%">@person.Age</td>
                <td style="width:7%">@person.Gender</td>
                <td style="width:10%">@person.Country</td>
                <td style="width:15%">@person.Address</td>
                <td style="width:20%">@person.ReceiveNewsLettter</td>
            </tr>
        }
    </tbody>
</table>