@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}
<form action="~/persons/index" method="get">
    <h1>Persons</h1>
    <a href="~/persons/create" class="mr">Create Person</a>
    <a href="~/persons/PersonsPDF" class="mr">PersonsListPDF</a>
    <a href="~/persons/PersonsCSV" class="mr">PersonsListCSV</a>
    <a href="~/persons/PersonsExcel">PersonsListExcel</a>


    <div class="box flex">
        @* Search/filter section: dropdown for search field, search input, search button, and clear link *@
        <div class="flex-1">
            @*Eg: searchBy=Email&searchValue=im; send by the URL*@
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchField)
                {
                    @* Check if the current field is the one selected for searching *@
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="@ViewBag.CurrentSearchBy">@field.Value</option>
                    }
                    @* If not selected, just display the option *@
                    else
                    {
                        <option value="@field.Key">@field.Value</option>
                    }
                }
            </select>
        </div>

        <div class="flex-1">
            @* Input for search value, with the current search value always filed *@
            <input type="search" id="Search" name="searchValue" value="@ViewBag.CurrentSearchValue"
                   class="form-input" placeholder="Search" />
        </div>

        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="~/persons/index" class="link-hover">Clear all</a>
        </div>
    </div>

    @* This table will show the list of person view *@
    <table class="table w-100 mt personsList">
        <thead>
            <tr>
                @* Name Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.PersonName)},
                                {"DisplayName", "Name"}
                                })

                @* Email Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.Email)},
                                {"DisplayName", "Email"}
                                })
                @* Date of Birth Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.DateOfBirth)},
                                {"DisplayName", "Date of Birth"}
                                })
                @* Age Column*@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.Age)},
                                {"DisplayName", "Age"}
                                })
                @* Gender Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.Gender)},
                                {"DisplayName", "Gender"}
                                })
                @* Country Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.Country)},
                                {"DisplayName", "Country"}
                                })
                @* Address Column *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.Address)},
                                {"DisplayName", "Address"}
                                })
                @* Receive News Letter *@
                @await Html.PartialAsync("_GridColumnHeader",
                                new ViewDataDictionary(ViewData){
                                {"ColumnName", nameof(PersonResponse.ReceiveNewsLettter)},
                                {"DisplayName", "Receive News Lettter"}
                                })
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td style="width:15%">@person.PersonName</td>
                    <td style="width:15%">@person.Email</td>
                    <td style="width:15%">@person.DateOfBirth?.ToString("dd MMMM yyyy")</td>
                    <td style="width:7%">@person.Age</td>
                    <td style="width:7%">@person.Gender</td>
                    <td style="width:10%">@person.Country</td>
                    <td style="width:15%">@person.Address</td>
                    <td style="width:20%">@person.ReceiveNewsLettter</td>
                </tr>
            }
        </tbody>
    </table>
</form>